<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a207phase1.fall2018.gamecentre">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="a207phase1.fall2018.gamecentre.GameLaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameSelectionActivity"></activity>
        <activity android:name="a207phase1.fall2018.gamecentre.SlidingTilesMenuActivity"></activity>
        <activity android:name="a207phase1.fall2018.gamecentre.SlidingTilesGameActivity"></activity>
        <activity android:name=".GameRegisterActivity"></activity>
        <activity android:name=".SlidingTilesGameLoadActivity"></activity>
        <activity android:name="a207phase1.fall2018.gamecentre.SlidingTilesPreNewGameActivity"></activity>
        <activity android:name="a207phase1.fall2018.gamecentre.HangmanMenuActivity"></activity>
        <activity android:name="a207phase1.fall2018.gamecentre.HangmanGameActivity"></activity>
        <activity android:name="a207phase1.fall2018.gamecentre.HangmanPreNewGameActivity"></activity>
        <activity android:name=".HangmanLoadActivity"></activity>
        <activity android:name=".HangmanScoreboardActivity"></activity>
        <activity android:name=".Main2048Activity"></activity>
        <activity android:name=".Menu2048Activity"></activity>
        <activity android:name=".Scoreboard2048Activity"></activity>
        <activity android:name=".SlidingTilesScoreboardActivity"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>